/*hover*/
/*actived*/

QLabel {
    color: black;
    font: 24pt 'Inter';
}

QPushButton {
    border: 2px solid #c7c7c7;
    border-radius: 8px;
    padding: 1px 4px;
    min-width: 30px;
    min-height: 16px;
    outline: 0;
}

QPushButton:pressed
{
    border-width: 2px;      
    background-color: #59F;
    border-color: #c7c7c7;
    outline: 0;
}

